.vote-wrapper{
  margin: 40px auto;
  width: 400px;
}

.button-wrapper {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100px;
}

.bar {
  width: 300px;
  background-color: green;
}
